body {
  font-size: 11px;
  font-family: monospace;
}

#controls {
  display: flex;
  flex-wrap: wrap;
}
#controls > fieldset {
  border: 1px solid #aaa;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}
#controls > fieldset input[type=number], #controls > fieldset input[type=checkbox], #controls > fieldset select {
  box-shadow: inset 0 0 0 2px rgba(204, 204, 204, 0.5);
  outline: none;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 1.2em;
  padding: 0.5em;
}
#controls > fieldset input[type=checkbox] {
  width: 20px;
  height: 20px;
  float: right;
}
#controls > fieldset label > input[type=number], #controls > fieldset label input[type=range], #controls > fieldset label > select {
  display: block;
}
